body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard-container {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.keyboard-row {
    display: flex;
    justify-content: space-between;

}

.key {
    color: red;
}