* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.textarea {
    border: 1px solid #000000;
    font-size: 30px;
}

.textarea:focus {
    outline: none;
    border-color: rgb(1, 208, 255);
    box-shadow: 0 0 10px rgb(204, 0, 255);
}

.keyboard-container {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: rgb(82, 82, 82);
}

.keyboard-row {
    display: flex;
    justify-content: space-between;
    column-gap: 6px;
}

.key {
    min-width: 45px;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    line-height: 34px;
    color: #000000;
    font-size: 22px;
}

.key:hover {
    box-shadow:0 0 10px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-color: #FFFFFF;
}

.active {
    box-shadow:0 0 10px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-color: #FFFFFF;
}

.animationClick {
    transform: scale(0.9)
}

.Tab {
    width: 70px;
}

.Delete {
    width: 50px;
}

.Backspace {
    width: 125px;
}

.Enter, .ShiftRight {
    width: 110px;
}

.ShiftLeft, .CapsLock {
    width: 115px;
}

.Space {
    width: 375px;
}

.key {
    background-color: rgb(1, 208, 255);
    transition: 0.2s;
}

.Backspace, .Tab, .Delete, .CapsLock, .Enter, .ShiftLeft, .ShiftRight, .ArrowUp, .ControlLeft, .MetaLeft, .AltLeft, .AltRight, .ArrowLeft, .ArrowDown, .ArrowRight, .ControlRight  {
    background-color: rgb(204, 0, 255);
}